.post_container{
    max-width: 90%;
    width: 50rem;
    margin: 0 auto;
}

.form-container{
    max-width: 90%;
    width: 20rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.loader{
    bottom: 50%;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.4rem;
}

.loaderpost{
    bottom: 50%;
    width: 7%;
    margin: 0 auto;
    text-align: center;
}

.post-content{
    width: 100%;
}

.card_buttons{
    max-width: 90%;
    width: 20rem;
    margin: 2rem;
    text-align: center;
    padding: 3rem .5rem 3rem .5rem;
}

.btn_link_container{
    display: flex;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.title{
    max-width: 90%;
    width: 50rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.dashboard_top_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar img{
    height: 10rem;
    width: auto;
}